<h1>Event <%= @event.event_id %></h1>

<table>
  <thead>
    <tr>
      <th>Event Id</th>
      <th>Event Type</th>
      <th>Repository</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @event.event_id %></td>
      <td><%= @event.event_type %></td>
      <td><%= repository_full_name(@event.repository) %></td>
      <td><%= @event.inserted_at %></td>
    </tr>
  </tbody>
</table>

<h2>Raw Event</h2>
<p><%= inspect(@event.raw, limit: :infinity, pretty: true) %></p>
